body {
    padding: 0px;
    margin: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

span {
    color: gold;
}

.span-2 {
    color: darkred;
}

/*-----------------Navbar Style-------------------*/
.header {
    width: 100%;
    color: darkred;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: white;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar ul li {
    display: inline-block;
    font-weight: bolder;
    font-size: 19px;
    justify-content: right;
    padding: 5px 50px;
    animation: forwards totop-S 2s;
}

.navbar ul li a {
    text-decoration: none;
    color: gold;
}

.navbar ul li a:hover {
    color: darkred;
    border-bottom: 3px solid gold;
    transition: cubic-bezier(0.6, -0.28, 0.735, 0.045) 0.5s;
}

.navbar h1 {
    font-size: xx-large;
    padding: 5px 10px;
    animation: alternate tobottom 1s;
}

.navbar .barside {
    color: darkred;
    border-bottom: 3px solid gold;
}

.profile ul li a {
    color: darkred;
}

.profile ul li a:hover {
    color: gold;
    border-bottom: 3px solid darkred;
    transition: cubic-bezier(0.6, -0.28, 0.735, 0.045) 0.5s;
}

.profile ul .profile-bar {
    color: gold;
    border-bottom: 3px solid darkred;
}
/*Navbar Style End*/

/* --------------------------Sidebar Style--------------------- */
.navbar .menu{
    display: none;
    justify-content: end;
    cursor: pointer;
    font-size: 22px;
    color: gold;
}

.sidebar{
    z-index: 2;
    position: fixed;
    align-items: center;
    bottom: 0;
    top: 0;
    width: 50%;
    left: -50%;
    background-color: rgba(255, 217, 0, 0.659);
    display: none;
}

.sidebar ul{
    list-style: none;
    margin: 0;
    padding:0;
    width : 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.sidebar li{
    display: flex;
    padding: 0px;
    transition: all 0.5s ease;
}

.sidebar li a{
    text-decoration: none;
    font-size: large;
    font-weight: bolder;
    color: white;
    width: 100%;
    text-align: left;
    padding: 50px;
    transition: all 0.5s linear;
}

.sidebar li:hover{
    background-color: darkred;
}

/* Sidebar Style End */

/*---------------------Footer Style-------------------------*/
.footer {
    text-align: center;
    color: white;
    background-color: black;
    padding: 2px 0px;
}
/*Footer Style End*/

/*-----------------------Index Style-------------------------*/
.content-home {
    width: 100%;
    height: 100vh;
    background-image: url(../assets/Background.png);
    background-position: center;
    background-size: cover;
}

.text-content {
    width: 45%;
    text-align: left;
    margin-left: 3%;
    padding-top: 10%;
}

.content-home h2 {
    font-size: xx-large;
    animation: forwards toleft 3s;
}

.content-home p {
    font-size: large;
    margin-bottom: 5%;
    animation: backwards totop 3s;
}

.submit a {
    background-color: gold;
    border-radius: 30px;
    font-weight: bolder;
    text-decoration: none;
    padding: 1.25% 5%;
    border: 3px solid black;
    color: black;
    animation: backwards hidden 5s;
}

.submit a:hover {
    transform: scale(1.1);
    transition: linear 0.5s;
    color: white;
    background-color: darkred;
    border: 3px solid white;
}
/*Index Style End*/

/*----------------------------About Style--------------------------*/
.content-about {
    text-align: center;
    padding: 3% 0%;
    width: 100%;
    height: 30%;
    background-color: gold;
}

.content-about h2 {
    font-size: xx-large;
    font-weight: bolder;
}

.content-about p {
    font-size: medium;
    font-weight: bold;
}

.container-about {
    text-align: center;
    width: 75%;
    margin-left: 13%;
    font-weight: bold;
    justify-content: left;
}

.container-about h2 {
    font-size: xx-large;
}

.container-about p {
    font-size: large;
    text-align: center;
}

.container-1A {
    height: auto;
    position: relative;
    overflow: hidden;
    background-color: white;
    border-radius: 20px;
    margin: 3%;
    padding: 0 3%;
    padding-bottom: 2%;
}

.container-1A:hover {
    box-shadow: 1px 0px 30px 0px black;
	border-radius: 12px;
	will-change: transform;
	transform: perspective(1000px) rotateX(-3.80deg) scale3d(1.05,1.05,1.05);
}

.image-1A {
    background-image: url(../assets/wallet.png);
    background-position: center;
    background-size: cover;
    width: 20vh;
    height: 20vh;
    margin-left: 43%;
    margin-top: 5%;
}

.container-2A {
    height: auto;
    position: relative;
    overflow: hidden;
    background-color: white;
    border-radius: 20px;
    margin: 3%;
    padding: 0 3%;
    padding-bottom: 2%;
}

.container-2A:hover {
    box-shadow: 1px 0px 30px 0px black;
	border-radius: 12px;
	will-change: transform;
	transform: perspective(1000px) rotateX(-2.80deg) scale3d(1.05,1.05,1.05);
}

.image-2A {
    background-image: url(../assets/content.png);
    background-position: center;
    background-size: cover;
    width: 20vh;
    height: 20vh;
    margin-left: 43%;
    margin-top: 5%;
}

.container-3A {
    height: auto;
    position: relative;
    overflow: hidden;
    background-color: white;
    border-radius: 20px;
    margin: 3%;
    padding: 0 3%;
    padding-bottom: 2%;
}

.container-3A:hover {
    box-shadow: 1px 0px 30px 0px black;
	border-radius: 12px;
	will-change: transform;
	transform: perspective(1000px) scale3d(1.05,1.05,1.05);
}

.image-3A {
    background-image: url(../assets/open-book.png);
    background-position: center;
    background-size: cover;
    width: 20vh;
    height: 20vh;
    margin-left: 43%;
    margin-top: 5%;
}

.container-4A {
    height: auto;
    position: relative;
    overflow: hidden;
    background-color: white;
    border-radius: 20px;
    margin: 3%;
    padding: 0 3%;
    padding-bottom: 2%;
}

.container-4A:hover {
    box-shadow: 1px 0px 30px 0px black;
	border-radius: 12px;
	will-change: transform;
	transform: perspective(1000px) rotateX(2.80deg) scale3d(1.05,1.05,1.05);
}

.image-4A {
    background-image: url(../assets/headphones.png);
    background-position: center;
    background-size: cover;
    width: 20vh;
    height: 20vh;
    margin-left: 43%;
    margin-top: 5%;
}

.container-5A {
    height: auto;
    position: relative;
    overflow: hidden;
    background-color: white;
    border-radius: 20px;
    margin: 3%;
    padding: 0 3%;
    padding-bottom: 2%;
}

.container-5A:hover {
    box-shadow: 1px 0px 30px 0px black;
	border-radius: 12px;
	will-change: transform;
	transform: perspective(1000px) rotateX(3.80deg) scale3d(1.05,1.05,1.05);
}

.image-5A {
    background-image: url(../assets/pie-chart.png);
    background-position: center;
    background-size: cover;
    width: 20vh;
    height: 20vh;
    justify-content: space-between;
    margin-left: 42%;
    margin-top: 5%;
}

.bottom-content-A {
    text-align: center;
    margin: 15% 0% 4% 0%;
    width: 40%;
    margin-left: 30%;
    justify-content: center;
}

.bottom-content-A h2 {
    font-size: xx-large;
    color: gold;
    font-weight: bolder;
}

.bottom-content-A p {
    font-size: medium;
    font-weight: bold;
    color: grey;
    margin-bottom: 8%;
}

.button-A a {
    text-decoration: none;
    color: white;
    border-radius: 20px;
    background-color: gold;
    padding: 2% 3%;
}

.button-A a:hover {
    background-color: goldenrod;
    transition: linear 0.5s;
} 
/*About Style End*/

/*----------------------------------Contact Style-------------------------------*/
.header-contact {
    text-align: center;
    background-color: gold;
    padding: 3% 0%;
    margin-bottom: 5%;
}

.header-contact h2 {
    font-size: xx-large;
    font-weight: bolder;
}

.header-contact p {
    font-size: medium;
    font-weight: bold;
}

.content-contact {
    margin: 1%;
    text-align: center;
}

.content-contact input[type="text"] {
    width: 50%;
    padding: 1% 0%;
    margin: 0.50% 0.10%;
}

.input-contact input[type="text"] {
    display: inline-block;
    width: 24.60%;
}

.input-contact input[type="email"] {
    display: inline-block;
    width: 24.60%;
}

.content-contact textarea {
    width: 50.20%;
    resize: none;
}

.content-contact textarea[placeholder="Message"] {
   padding: 0.50% 1%;
   font-size: larger;
   font-weight: bolder; 
}

.content-contact input[placeholder="Nama"] {
    padding: 0.50% 1%;
    font-size: medium;
    font-weight: bolder;
    padding: 1%;
}

.content-contact input[placeholder="Nama Perusahaan"] {
    padding: 0.50% 1%;
    font-size: medium;
    font-weight: bolder;
    padding: 1%;
}

.content-contact input[placeholder="Email"] {
    padding: 0.50% 0.50%;
    font-size: medium;
    font-weight: bolder;
    padding: 1% 0.50%;
}

.content-contact input[placeholder="Telepon"] {
    padding: 0.50% 0.50%;
    font-size: medium;
    font-weight: bolder;
    padding: 1% 0.50%;
}

.content-contact button {
    margin-top: 1%;
    margin-bottom: 1%;
    width: 30%;
    height: 5vh;
    border-radius: 20px;
    background-color: gold;
}

.content-contact button[type="submit"] {
    font-size: medium;
    font-weight: bolder;
}

.content-contact button:hover {
    border: 2px solid black;
    color: white;
    background-color: goldenrod;
    box-shadow: 1px 0px 8px 0px black;
	border-radius: 12px;
	will-change: transform;
    transform: perspective(1000px) scale3d(1.03,1.05,1.05);
    transition: linear 0.5s;
}

.bottom-content-C {
    text-align: center;
    margin: 5% 0% 4% 0%;
    width: 40%;
    margin-left: 25%;
    justify-content: center;
    padding: 5%;
}

.bottom-content-C:hover {
    box-shadow: 1px 0px 25px 0px black;
	border-radius: 12px;
	will-change: transform;
    transform: perspective(1000px) scale3d(1.03,1.05,1.05);
}

.bottom-content-C h2 {
    font-size: xx-large;
    color: gold;
    font-weight: bolder;
}

.bottom-content-C p {
    font-size: medium;
    font-weight: bold;
    color: grey;
    text-align: center;
    margin-bottom: 8%;
}

.button-C a {
    text-decoration: none;
    color: white;
    border-radius: 20px;
    background-color: gold;
    padding: 2% 3%;
}

.button-C a:hover {
    background-color: goldenrod;
    transition: linear 0.5s;
}
/*Contact Style End*/

/*-----------------------------------Service Style--------------------------------*/
.header-service {
    text-align: center;
    background-color: gold;
    padding: 3% 0%;
    margin-bottom: 5%;
}

.header-service h2 {
    font-size: xx-large;
    font-weight: bolder;
}

.header-service p {
    font-size: medium;
    font-weight: bold;
}

.sub-header-S {
    text-align: center;
    padding: 2% 0%;
    margin-bottom: 2%;
}

.box-containers {
    text-align: center;
    margin-left: 7%;
    padding: 3% 0%;
}

.box-service {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 22px;
    animation: alternate tobottom 2s;
}

.box-service .container-S1 {
    width: 85%;
    height: auto;
}

.container-S1 p {
    width: 95%;
}

.container-S1 .image-S1 {
    background-image: url(../assets/server.png);
    background-position: center;
    background-size: cover;
    width: 15vh;
    height: 15vh;
    margin-left: 34%;
}

.box-service .container-S2 {
    width: 85%;
    height: auto;
}

.container-S2 p {
    width: 95%;
}

.container-S2 .image-S2 {
    background-image: url(../assets/graphic.png);
    background-position: center;
    background-size: cover;
    width: 15vh;
    height: 15vh;
    margin-left: 34%;
}

.box-service .container-S3 {
    width: 85%;
    height: auto;
}

.container-S3 p {
    width: 95%;
}

.container-S3 .image-S3 {
    background-image: url(../assets/diagram.png);
    background-position: center;
    background-size: cover;
    width: 15vh;
    height: 15vh;
    margin-left: 34%;
}

.box-service .container-S4 {
    width: 85%;
    height: auto;
}

.container-S4 p {
    width: 95%;
}

.container-S4 .image-S4 {
    background-image: url(../assets/calendar.png);
    background-position: center;
    background-size: cover;
    width: 15vh;
    height: 15vh;
    margin-left: 34%;
}

.box-service .container-S5 {
    width: 85%;
    height: auto;

}

.container-S5 p {
    width: 95%;
}

.container-S5 .image-S5 {
    background-image: url(../assets/conversation.png);
    background-position: center;
    background-size: cover;
    width: 15vh;
    height: 15vh;
    margin-left: 34%;
}

.box-service .container-S6 {
    width: 85%;
    height: auto;
}

.container-S6 p {
    width: 95%;
}

.container-S6 .image-S6 {
    background-image: url(../assets/desktop.png);
    background-position: center;
    background-size: cover;
    width: 15vh;
    height: 15vh;
    margin-left: 34%;
}

.content-service {
    text-align: center;
}

.content-service h1 {
    font-weight: bolder;
    color: gold;
    margin-top: 8%;
    padding: 2% 0%;
}

.box-content-S {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 22px;
    margin: 2% 0%;
    margin-left: 8%;
}

/*------------Content Box CS Style--------------*/
.p-CS {
    margin-top: 30px;
    font-weight: lighter;
    font-size: small;
}
/*Content BOx CS Style End*/

.box-CS1 {
    width: 80%;
    text-align: justify;
    border-radius: 33px;
    padding-top: 1.1px;
    border: 2px solid darkred;
    box-shadow: 0px 0px 15px 0px;
}

.header-CS1 {
    text-align: center;
    background: darkred;
    color: white;
    border-radius: 27px 27px 0px 0px; 
    width: 100%;
    margin-bottom: 2%;
    margin-top: -1.5px;
    padding: 0.05px 0.1px 0.30px 0.10px;
}

.box-CS1 h3 {
    font-size: larger;
    padding: 0px 18px;
}

.box-CS1 h4 {
    font-weight: lighter;
    font-size: large;
    padding: 0px 18px;
}

.box-CS1 p {
    font-size: larger;
    font-weight: bolder;
    padding: 0px 18px;
    margin-bottom: 40px;
}

.message-CS1 {
    padding: 0px 18px;
    align-items: center;
    text-align: center;
}

.message-CS1 a {
    text-decoration: none;
    font-size: medium;
    padding: 0px 18px;
    font-weight: bolder;
    color: darkred;
    padding: 4% 30%;
    border-radius: 30px;
    border: 3px solid darkred;
}

.message-CS1 a:hover {
    color: white;
    align-items: center;
    text-align: center;
    background-color: darkred;
    transition: linear 0.5s;
}

/*------Message CS Style-------*/
.message-CS {
    padding: 0px 18px;
    align-items: center;
    text-align: center;
}

.message-CS a {
    text-decoration: none;
    font-size: medium;
    font-weight: bolder;
    color: gold;
    padding: 0px 18px;
    padding: 4% 30%;
    border-radius: 30px;
    border: 2px solid gold;
}

.message-CS a:hover {
    color: white;
    align-items: center;
    text-align: center;
    background-color: gold;
    transition: linear 0.5s;
}
/*Message CS Style End*/

.box-CS2 {
    width: 80%;
    text-align: justify;
    border-radius: 33px;
    padding-top: 1.1px;
    border: 2px solid gold;
    box-shadow: 0px 0px 15px 0px;
}

.header-CS2 {
    text-align: center;
    background: gold;
    color: white;
    border-radius: 27px 27px 0px 0px; 
    width: 100%;
    margin-bottom: 2%;
    margin-top: -1.5px;
    padding: 0.05px 0.5px 0.30px 0.10px;
}

.box-CS2 h3 {
    font-size: larger;
    padding: 0px 18px;
}

.box-CS2 h4 {
    font-weight: lighter;
    font-size: large;
    padding: 0px 18px;
}

.box-CS2 p {
    font-size: larger;
    font-weight: bolder;
    padding: 0px 18px;
    margin-bottom: 40px;
}

.box-CS3 {
    width: 80%;
    text-align: justify;
    border-radius: 33px;
    padding-top: 1.1px;
    border: 2px solid gold;
    box-shadow: 0px 0px 15px 0px;
}

.header-CS3 {
    text-align: center;
    background: gold;
    color: white;
    border-radius: 27px 27px 0px 0px; 
    width: 100%;
    margin-bottom: 2%;
    margin-top: -1.5px;
    padding: 0.05px 0.5px 0.30px 0.10px;
}

.box-CS3 h3 {
    font-size: larger;
    padding: 0px 18px;
}

.box-CS3 h4 {
    font-weight: lighter;
    font-size: large;
    padding: 0px 18px;
}

.box-CS3 p {
    font-size: larger;
    font-weight: bolder;
    margin-bottom: 40px;
    padding: 0px 18px;
}
/*Service Style End*/

/*-----------------------------Profile Style-----------------------------------*/
.content-profile {
    display: flex;
    width: 85%;
    justify-content: center;
    align-items: center;
    text-align: justify;
    margin-left: 3%;
    padding: 2%;
    margin-bottom: 6%;
    margin-top: 6%;
}

.profile-image {
    background-image: url(../assets/Profile\ Foto.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 30px;
    width: 280vh;
    height: 46vh;
    margin: 2%;
    animation: backwards hidden 3s;
}

.text-P {
    animation: alternate-reverse totop-P 2s;
}

.text-skill {
    text-align: center;
}

.box-skill {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 22px;
}

.box-skill-C {
    background-color: gold;
    border-radius: 30px;
    transition: ease 1s;
    width: 75%;
    margin: 2% 10%;
    padding: 1% 4%;
    text-align: center;
}

.box-skill-C:hover {
    color: white;
    background-color: darkred;
	border-radius: 30px;
	will-change: transform;
	transform: perspective(1000px) rotateY(360deg) scale3d(1.0,1.0,1.0);
    transition: linear 0.9s;
}

.text-motivation {
    text-align: center;
    background-color: gold;
    padding: 3% 0%;
    margin: 9% 0%;
}

.text-motivation h1 {
    font-weight: bolder;
    font-size: xx-large;
}

.text-motivation p {
    font-size: medium;
    font-weight: bold;
}

.text-learn {
    text-align: center;
}

.box-learn {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 22px;
    margin-bottom: 3%;
}

.box-learn-C {
    background-color: gold;
    border-radius: 30px;
    transition: ease 1s;
    width: 75%;
    margin: 2% 10%;
    padding: 1% 4%;
    text-align: center;
}

.box-learn-C:hover {
    background-color: darkred;
    color: white;
	border-radius: 30px;
	will-change: transform;
	transform: perspective(1000px) rotateY(360deg) scale3d(1.0,1.0,1.0);
    transition: linear 0.9s;
}

/*----------------------------KeyFrame Style---------------------------------*/
@keyframes hidden {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

@keyframes toleft {
    0% {
        margin-left: -100%;
        opacity: 0%;
    }

    100% {
        left: 0%;
        opacity: 100%;
    }
}

@keyframes tobottom {
    0% {
        margin-bottom: -5%;
        margin-top: -2%;
        opacity: 0%;
    }

    100% {
        top: 0%;
        bottom: 0%;
        opacity: 100%;
    }
}

@keyframes totop {
    0% {
        margin-top: 20%;
    }

    100% {
        top: 0%;
    }
}

@keyframes toright {
    0% {
        margin-right: 10%;
        opacity: 0%;
    }

    100% {
        right: 0%;
        opacity: 100%;
    }
}

@keyframes totop-P {
    0% {
        margin-top: -2%;
        opacity: 100%;
    }

    100% {
        top: 0%;
        opacity: 0%;
    }
}

@keyframes totop-S {
    0% {
        margin-top: -5%;
        opacity: 0%;
    }

    100% {
        top: 0%;
        opacity: 100%;
    }
}
/*Key frames Sytle End*/

/*-------------------------------------Media Style-------------------------------------*/

/*------------------------Media Navbar------------------------------*/
@media (max-width: 1200px){
    .navbar ul li {
        padding: 5px 30px;
    }
}

@media (max-width: 1000px){
    .navbar ul li {
        padding: 5px 15px;
    }
}

@media (max-width: 860px){
    .navbar ul li {
        padding: 5px 8px;
    }
}
/*Media Navbar End*/

/* ------------------------Media Sidebar------------------------ */
@media(max-width : 1014px) {
    .navbar ul{
        display: none;
    }

    .navbar .menu{
        display: flex;
        width: 90%;
        margin-right: 3%;
    }

    .sidebar{
        display: flex;
    }

}
/* Media Sidebar End */

/* -----------------------------Media Home---------------------------------- */
@media (max-width: 700px){
    .text-content {
        width: 65%;
    }  
}
/* Media Home End */

/*------------------------------Media About---------------------------------*/
@media (max-width: 1200px){
    .container-1A {
        margin: 8% 3%;
    }

    .image-1A {
        margin-left: 40%;
    }

    .container-2A {
        margin: 8% 3%;
    }

    .image-2A {
        margin-left: 40%;
    }

    .container-3A {
        margin: 8% 3%;
    }

    .image-3A {
        margin-left: 40%;
    }

    .container-4A {
        margin: 8% 3%;
    }

    .image-4A {
        margin-left: 40%;
    }

    .container-5A {
        margin: 8% 3%;
    }

    .image-5A {
        margin-left: 40%;
    }
}

@media (max-width: 780px){
    .container-1A {
        margin: 10% 3%;
    }

    .image-1A {
        margin-left: 39%;
    }

    .container-2A {
        margin: 10% 3%;
    }

    .image-2A {
        margin-left: 39%;
    }

    .container-3A {
        margin: 10% 3%;
    }

    .image-3A {
        margin-left: 39%;
    }

    .container-4A {
        margin: 10% 3%;
    }

    .image-4A {
        margin-left: 39%;
    }

    .container-5A {
        margin: 10% 3%;
    }

    .image-5A {
        margin-left: 39%;
    }
}

@media (max-width: 650px){
    .container-1A {
        margin: 13% 3%;
    }

    .image-1A {
        margin-left: 36%;
    }

    .container-2A {
        margin: 13% 3%;
    }

    .image-2A {
        margin-left: 36%;
    }

    .container-3A {
        margin: 13% 3%;
    }

    .image-3A {
        margin-left: 36%;
    }

    .container-4A {
        margin: 13% 3%;
    }

    .image-4A {
        margin-left: 36%;
    }

    .container-5A {
        margin: 13% 3%;
    }

    .image-5A {
        margin-left: 36%;
    }
}

@media (max-width: 540px){
    .container-1A {
        margin: 14% 3%;
    }

    .image-1A {
        margin-left: 29.30%;
    }

    .container-2A {
        margin: 14% 3%;
    }

    .image-2A {
        margin-left: 29.30%;
    }

    .container-3A {
        margin: 14% 3%;
    }

    .image-3A {
        margin-left: 29.30%;
    }

    .container-4A {
        margin: 14% 3%;
    }

    .image-4A {
        margin-left: 29.30%;
    }

    .container-5A {
        margin: 14% 3%;
    }

    .image-5A {
        margin-left: 29.30%;
    }

    .bottom-content-A {
        width: 50%;
        margin-left: 25%;
    }
    
    .bottom-content-A h2 {
        font-size: x-large;
    }
}

@media (max-width: 440px){
    .container-1A {
        margin: 16% 3%;
    }

    .image-1A {
        margin-left: 28%;
    }

    .container-2A {
        margin: 16% 3%;
    }

    .image-2A {
        margin-left: 28%;
    }

    .container-3A {
        margin: 16% 3%;
    }

    .image-3A {
        margin-left: 28%;
    }

    .container-4A {
        margin: 16% 3%;
    }

    .image-4A {
        margin-left: 28%;
    }

    .container-5A {
        margin: 16% 3%;
    }

    .image-5A {
        margin-left: 28%;
    }

    .bottom-content-A {
        width: 70%;
        margin-left: 15%;
    }
    
    .bottom-content-A h2 {
        font-size: x-large;
    }
}

@media (max-width: 360px){
    .container-1A {
        margin: 18% 3%;
    }

    .image-1A {
        margin-left: 22%;
    }

    .container-2A {
        margin: 18% 3%;
    }

    .image-2A {
        margin-left: 22%;
    }

    .container-3A {
        margin: 18% 3%;
    }

    .image-3A {
        margin-left: 22%;
    }

    .container-4A {
        margin: 18% 3%;
    }

    .image-4A {
        margin-left: 22%;
    }

    .container-5A {
        margin: 18% 3%;
    }

    .image-5A {
        margin-left: 22%;
    }
}
/*Media About End*/

/* --------------------------------------Media Contact-------------------------------------------- */
@media (max-width: 950px){
    .content-contact input[type="text"] {
        width: 60%;
        padding: 1% 0%;
        margin: 0.50% 0.10%;
    }
    
    .input-contact input[type="text"] {
        display: inline-block;
        width: 29.50%;
    }

    .input-contact input[type="email"] {
        display: inline-block;
        width: 29.50%;
    }
    
    .content-contact textarea {
        width: 60.20%;
        resize: none;
    }

    .content-contact textarea[placeholder="Message"] {
        padding: 0.50% 1%;
        font-size: larger;
        font-weight: bolder; 
    }
     
    .content-contact input[placeholder="Nama"] {
         padding: 0.50% 1%;
         font-size: medium;
         font-weight: bolder;
         padding: 1%;
    }
     
    .content-contact input[placeholder="Nama Perusahaan"] {
         padding: 0.50% 1%;
         font-size: medium;
         font-weight: bolder;
         padding: 1%;
    }
     
    .content-contact input[placeholder="Email"] {
         padding: 0.50% 0.50%;
         font-size: medium;
         font-weight: bolder;
         padding: 1% 0.50%;
    }
     
    .content-contact input[placeholder="Telepon"] {
         padding: 0.50% 0.50%;
         font-size: medium;
         font-weight: bolder;
         padding: 1% 0.50%;
    }
}

@media (max-width: 700px){
    .content-contact input[type="text"] {
        width: 60%;
        padding: 1% 0%;
        margin: 0.50% 0.10%;
    }
    
    .input-contact input[type="text"] {
        display: inline;
        width: 61.20%;
    }

    .input-contact input[type="email"] {
        display: inline;
        width: 61.20%;
    }
    
    .content-contact textarea {
        width: 60.20%;
        resize: none;
    }

    .content-contact textarea[placeholder="Message"] {
        padding: 0.50% 1%;
        font-size: larger;
        font-weight: bolder; 
    }
     
    .content-contact input[placeholder="Nama"] {
         padding: 0.50% 1%;
         font-size: medium;
         font-weight: bolder;
         padding: 1%;
    }
     
    .content-contact input[placeholder="Nama Perusahaan"] {
         padding: 0.50% 1%;
         font-size: medium;
         font-weight: bolder;
         padding: 1%;
    }
     
    .content-contact input[placeholder="Email"] {
         padding: 0.50% 0.50%;
         font-size: medium;
         font-weight: bolder;
         padding: 1% 0.50%;
    }
     
    .content-contact input[placeholder="Telepon"] {
         padding: 0.50% 0.50%;
         font-size: medium;
         font-weight: bolder;
         padding: 1% 0.50%;
    }

    .bottom-content-C {
        width: 50%;
        margin-left: 19%;
    }
    
    .bottom-content-C h2 {
        font-size: x-large;
    }
}

@media (max-width: 430px){
    .content-contact input[type="text"] {
        width: 80%;
        padding: 1% 0%;
        margin: 0.50% 0.10%;
    }
    
    .input-contact input[type="text"] {
        display: inline;
        width: 80.90%;
    }

    .input-contact input[type="email"] {
        display: inline;
        width: 80.90%;
    }
    
    .content-contact textarea {
        width: 80.20%;
        resize: none;
    }

    .content-contact textarea[placeholder="Message"] {
        padding: 0.50% 1%;
        font-size: larger;
        font-weight: bolder; 
    }
     
    .content-contact input[placeholder="Nama"] {
         padding: 0.50% 1%;
         font-size: medium;
         font-weight: bolder;
         padding: 1%;
    }
     
    .content-contact input[placeholder="Nama Perusahaan"] {
         padding: 0.50% 1%;
         font-size: medium;
         font-weight: bolder;
         padding: 1%;
    }
     
    .content-contact input[placeholder="Email"] {
         padding: 0.50% 0.50%;
         font-size: medium;
         font-weight: bolder;
         padding: 1% 0.50%;
    }
     
    .content-contact input[placeholder="Telepon"] {
         padding: 0.50% 0.50%;
         font-size: medium;
         font-weight: bolder;
         padding: 1% 0.50%;
    }

    .bottom-content-C {
        width: 70%;
        margin-left: 7%;
        padding: 8%;
    }
}
/* Media Contact End */

/* ------------------------------------Media Service Product----------------------------------------- */
@media (max-width: 930px){
    .container-S1 .image-S1 {
        margin-left: 31.50%;
    }

    .container-S2 .image-S2 {
        margin-left: 31.50%;
    }

    .container-S3 .image-S3 {
        margin-left: 31.50%;
    }

    .container-S4 .image-S4 {
        margin-left: 31.50%;
    }

    .container-S5 .image-S5 {
        margin-left: 31.50%;
    }

    .container-S6 .image-S6 {
        margin-left: 31.50%;
    }
}

@media (max-width: 900px){
    .box-content-S {
        margin-left: 16%;
    }
}

@media (max-width: 884px){
    .box-containers {
        margin-left: 13%;
    }

    .container-S1 .image-S1 {
        margin-left: 41.50%;
    }

    .container-S2 .image-S2 {
        margin-left: 41.50%;
    }

    .container-S3 .image-S3 {
        margin-left: 41.50%;
    }

    .container-S4 .image-S4 {
        margin-left: 41.50%;
    }

    .container-S5 .image-S5 {
        margin-left: 41.50%;
    }

    .container-S6 .image-S6 {
        margin-left: 41.50%;
    }
}

@media (max-width: 670px){
    .container-S1 .image-S1 {
        margin-left: 39.50%;
    }

    .container-S2 .image-S2 {
        margin-left: 39.50%;
    }

    .container-S3 .image-S3 {
        margin-left: 39.50%;
    }

    .container-S4 .image-S4 {
        margin-left: 39.50%;
    }

    .container-S5 .image-S5 {
        margin-left: 39.50%;
    }

    .container-S6 .image-S6 {
        margin-left: 39.50%;
    }
}

@media (max-width: 490px){
    .container-S1 .image-S1 {
        margin-left: 36.50%;
    }

    .container-S2 .image-S2 {
        margin-left: 36.50%;
    }

    .container-S3 .image-S3 {
        margin-left: 36.50%;
    }

    .container-S4 .image-S4 {
        margin-left: 36.50%;
    }

    .container-S5 .image-S5 {
        margin-left: 36.50%;
    }

    .container-S6 .image-S6 {
        margin-left: 36.50%;
    }
}

@media (max-width: 460px){
    .box-containers {
        margin-left: 11%;
    }

    .box-content-S {
        margin-left: 15%;
    }
}

@media (max-width: 425px){
    .box-containers {
        margin-left: 10%;
    }

    .box-content-S {
        margin-left: 12%;
    }
}

@media (max-width: 390px){
    .box-containers {
        margin-left: 5.50%;
    }

    .box-content-S {
        margin-left: 8%;
    }
}

@media (max-width: 360px){
    .box-containers {
        margin-left: 4%;
    }

    .box-content-S {
        margin-left: 6%;
    }
}

@media (max-width: 350px){
    .box-containers {
        margin-left: 0%;
    }

    .box-content-S {
        margin-left: 3.50%;
    }
}

@media (max-width: 335px){
    .box-CS1 {
        width: 75%;
    }

    .box-CS2 {
        width: 75%;
    }

    .box-CS3 {
        width: 75%;
    }

    .box-containers {
        margin-left: 0%;
    }

    .box-content-S {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        grid-gap: 10px;
        margin-left: 4%;
    }

    .message-CS1 a {
        padding: 4% 25%;
    }

    .message-CS a {
        padding: 4% 25%;
    }
}

@media (max-width: 325px){
    .box-containers {
        margin-left: 5%;
    }

    .box-service .container-S1 {
        width: 75%;
        height: auto;
    }

    .box-service .container-S2 {
        width: 75%;
        height: auto;
    }

    .box-service .container-S3 {
        width: 75%;
        height: auto;
    }

    .box-service .container-S4 {
        width: 75%;
        height: auto;
    }

    .box-service .container-S5 {
        width: 75%;
        height: auto;
    }

    .box-service .container-S6 {
        width: 75%;
        height: auto;
    }

    .box-content-S {
        margin-left: 2.50%;
    }

    .container-S1 .image-S1 {
        margin-left: 33.50%;
    }

    .container-S2 .image-S2 {
        margin-left: 33.50%;
    }

    .container-S3 .image-S3 {
        margin-left: 36.50%;
    }

    .container-S4 .image-S4 {
        margin-left: 33.50%;
    }

    .container-S5 .image-S5 {
        margin-left: 33.50%;
    }

    .container-S6 .image-S6 {
        margin-left: 33.50%;
    }
}
/* Media Service Product End */

/* -------------------------------------Media Profile----------------------------------- */
@media (max-width: 900px){
    .content-profile {
        display: inline;
        width: 80%;
        text-align: center;
    }

    .profile-image {
        width: 45vh;
        height: 50vh;
        margin: 2%;
        animation: backwards hidden 3s;
        margin-left: 28%;
    }
}

@media (max-width: 820px){
    .box-skill-C {
        margin-left: 8.50%;
    }

    .box-learn-C {
        margin-left: 8.50%;
    }
}

@media (max-width: 810px){
    .profile-image {
        margin-left: 31%;
    }
}

@media (max-width: 750px){
    .profile-image {
        margin-left: 29%;
    }
}

@media (max-width: 670px){
    .profile-image {
        margin-left: 27%;
    }
}

@media (max-width: 600px){
    .profile-image {
        margin-left: 24.50%;
    }
}

@media (max-width: 560px){
    .profile-image {
        margin-left: 23.50%;
    }
}

@media (max-width: 520px){
    .profile-image {
        margin-left: 20%;
    }
}
@media (max-width: 440px){
    .profile-image {
        margin-left: 16%;
    }
}

@media (max-width: 380px){
    .profile-image {
        margin-left: 11%;
    }

    .box-skill-C {
        margin-left: 5.50%;
    }

    .box-learn-C {
        margin-left: 5.50%;
    }
}

@media (max-width: 365px){
    .profile-image {
        margin-left: 4%;
    }

    .box-skill-C {
        margin-left: 3.50%;
    }

    .box-learn-C {
        margin-left: 3.50%;
    }
}

@media (max-width: 320px){
    .box-skill-C {
        width: 70%;
        margin-left: 1%;
    }

    .box-learn-C {
        margin-left: 1%;
        width: 70%;
    }
}
/* Media Profile */